@thegetty-private:registry=https://artifacts.getty.edu/repository/npm-virtual
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
#registry=https://artifacts.getty.edu/repository/npm-virtual
//artifacts.getty.edu/repository/:_authToken=${NEXUS_NPM_TOKEN}
