<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- facebook social media meta -->
    <meta property="og:url" content="https://experiments.getty.edu/ac-art-generator" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Animal Crossing Art Generator | Getty" />
    <meta property="og:description" content="Free tool to add museum artworks as patterns in Animal Crossing." />
    <meta property="og:image" content="https://experiments.getty.edu/ac-art-generator/images/5b7c44a1c1a3be9cbaff64f179db814c.jpg" />
    <!-- twitter social media meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@gettymuseum" />
    <meta name="twitter:creator" content="@gettymuseum" />
    <meta property="og:url" content="https://experiments.getty.edu/ac-art-generator" />
    <meta property="og:title" content="Animal Crossing Art Generator | Getty" />
    <meta property="og:description" content="Free tool to add museum artworks as patterns in Animal Crossing." />
    <meta property="og:image" content="https://experiments.getty.edu/ac-art-generator/images/5b7c44a1c1a3be9cbaff64f179db814c.jpg" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
